.tooling-apps-cache/app/experience/experience.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

  <!-- Cargar propiedades -->
  <configuration-properties file="experience.yaml"/>

  <!-- LISTENER CONFIG (GLOBAL) -->
  <http:listener-config name="e-test-rmunozpardo-httpListenerConfig">
    <http:listener-connection host="0.0.0.0" port="${api.port}"/>
  </http:listener-config>

  <!-- REQUEST CONFIG → llamar a Process -->
  <http:request-config name="process-request-config">
    <http:request-connection host="#[p('process-api.baseURL').replace('https://','')]"
                             protocol="HTTPS" port="443"/>
  </http:request-config>

  <!-- APIKIT CONFIG -->
  <apikit:config name="e-test-rmunozpardo-config"
                 api="resource::91b7f36d-45ab-4b9f-be63-662e83632310:e-test-rmunozpardo:1.0.0:raml:zip:e-test-rmunozpardo.raml"
                 outboundHeadersMapName="outboundHeaders"
                 httpStatusVarName="httpStatus"/>

  <!-- MAIN ROUTER FLOW -->
  <flow name="e-test-rmunozpardo-main">
    <!-- Usar el config GLOBAL -->
    <http:listener config-ref="e-test-rmunozpardo-httpListenerConfig" path="/exp/*"/>
    <apikit:router config-ref="e-test-rmunozpardo-config"/>

    <!-- Error handler uniforme -->
    <error-handler>
      <on-error-propagate type="APIKIT:BAD_REQUEST">
        <ee:transform>
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ message: "Bad request" }]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">400</ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>

      <on-error-propagate type="APIKIT:NOT_FOUND">
        <ee:transform>
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ message: "Resource not found" }]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">404</ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>

      <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
        <ee:transform>
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ message: "Method not allowed" }]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">405</ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>

      <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
        <ee:transform>
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ message: "Not acceptable" }]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">406</ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>

      <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
        <ee:transform>
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ message: "Unsupported media type" }]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">415</ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>

      <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
        <ee:transform>
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ message: "Not implemented" }]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">501</ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
    </error-handler>
  </flow>

  <!-- FLOW GET /accounts (llama a Process) -->
  <flow name="get:\accounts:e-test-rmunozpardo-config">
    <!-- Llamada a Process API -->
    <http:request config-ref="process-request-config"
                  method="GET" path="/pro/accounts" doc:name="Call Process"/>
    <ee:transform>
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload
        ]]></ee:set-payload>
      </ee:message>
    </ee:transform>
  </flow>
</mule>